apiApp:
  secret:
    databaseUrl: "postgres://postgres:password@api-app-postgres-svc.api-app-local-namespace.svc.cluster.local:5432/tsoa-starter-template-db"
    s3Endpoint: "http://rustfs-svc:9000"
    s3AccessKey: "admin"
    s3SecretKey: "password"

rustfs:
  secret:
    accessKey: "admin"
    secretKey: "password"

postgres:
  secret:
    database: "tsoa-starter-template-db"
    username: "postgres"
    password: "password"
    port: "5432"
