api-app:
  secret:
    databaseUrl: "postgres://postgres:password@tsoa-poc-postgres-svc.api-app-local-namespace.svc.cluster.local:5432/tsoa-starter-template-db"
    databaseUsername: "postgres"
    databasePassword: "password"
    databaseHost: "tsoa-poc-postgres-svc.api-app-local-namespace.svc.cluster.local"
    databasePort: "5432"
    databaseName: "tsoa-starter-template-db"
    s3Bucket: "my-bucket"
    s3Endpoint: "http://tsoa-poc-rustfs-svc.api-app-local-namespace.svc.cluster.local:9000"
    s3EndpointExternal: "http://s3.quantlab"
    s3AccessKey: "admin"
    s3SecretKey: "password"

postgres:
  secret:
    database: "tsoa-starter-template-db"
    username: "postgres"
    password: "password"

rustfs:
  secret:
    accessKey: "admin"
    secretKey: "password"
